main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
  /* padding-right: 0.5rem;
  color: #f8e825; */

}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
  /* width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: #f8e825;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #333;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.product-title a {
  color: chocolate;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.product-title a:hover {
  color: chocolate;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

a:hover {
  color: chocolate;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.product-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: 35px;
  padding: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0.3, 0.9);
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0.3, 0.7);
  border: 1px solid #ddd;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}


table td,
table th {
  text-align: center;
  vertical-align: middle;
}

.review {
  margin-top: 30px;
  padding: 20px;
  border: 1px #ddd solid;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 2;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 2;
}

.carousel-control-prev, .carousel-control-next {
  width: 5%;
}
/* 
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-gap: 20px;
} */

logo{
  height: 30px;
  width: 30px;
  object-fit: cover;
  margin: 35px;
  padding: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0.3, 0.9);
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0.3, 0.7);
  border: 1px solid #ddd;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

